Repository modelyst/dbgen: changes, and which pre-commit hooks are due for each by the changed paths.
All: pydevd, dont-use-safe-filter, no-relative-imports, language-matters, consistent-pylint, pre-commit-hook-names, flynt

Path conditions:
  pydevd: any of: \.py$
  dont-use-safe-filter: any of: \.html$
  no-relative-imports: any of: \.py$, but not: ^dbgen/test/|^dbgen/cli/newfiles/
  language-matters: any file but: (?x) ^dbgen/test/test_cli/test_main.py$| ^CHANGELOG.txt$

  consistent-pylint: any of: \.py$
  pre-commit-hook-names: any of: ^.pre-commit-config.yaml$
  flynt: any of: \.py$

release: bump version to 0.5.19 for release
  pyproject.toml
  src/dbgen/__init__.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, flynt

fix(ci): update the poetry version to allow for publishing
  .github/workflows/publish.yml
  .github/workflows/test.yml
Due: language-matters

chore(poetry): updated poetry lock file
  poetry.lock
  requirements.txt
Due: language-matters

chore(precommit): added conventional commit precommit hook
  .pre-commit-config.yaml
Due: language-matters, pre-commit-hook-names

fix(cli): fixed the links for dbgen new to point at dbgen
  src/dbgen/cli/new.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, flynt

docs: major refactor to include updates to alice_bob_model and corresponding tutorials
  .pre-commit-config.yaml
  docs/tutorial/directory_structure.md
  docs/tutorial/etl.md
  docs/tutorial/io_gen_complex.md
  docs/tutorial/schema.md
  examples/alice_bob_lab/hooks/post_gen_project.py
  examples/alice_bob_lab/{{cookiecutter.repo_name}}/alice_bob_model/__init__.py
  examples/alice_bob_lab/{{cookiecutter.repo_name}}/alice_bob_model/constants.py
  examples/alice_bob_lab/{{cookiecutter.repo_name}}/alice_bob_model/extracts/__init__.py
  examples/alice_bob_lab/{{cookiecutter.repo_name}}/alice_bob_model/extracts/csv_extract.py
  examples/alice_bob_lab/{{cookiecutter.repo_name}}/alice_bob_model/extracts/measurement_extract.py
  examples/alice_bob_lab/{{cookiecutter.repo_name}}/alice_bob_model/generators/__init__.py
  examples/alice_bob_lab/{{cookiecutter.repo_name}}/alice_bob_model/generators/f_to_c.py
  examples/alice_bob_lab/{{cookiecutter.repo_name}}/alice_bob_model/generators/parse_measurements.py
  examples/alice_bob_lab/{{cookiecutter.repo_name}}/alice_bob_model/generators/read_csv.py
  examples/alice_bob_lab/{{cookiecutter.repo_name}}/alice_bob_model/main.py
  examples/alice_bob_lab/{{cookiecutter.repo_name}}/alice_bob_model/schema.py
  examples/alice_bob_lab/{{cookiecutter.repo_name}}/data/make_measurements.py
  examples/simple/hooks/post_gen_project.py
  examples/simple/{{cookiecutter.repo_name}}/{{cookiecutter.model_name}}/__init__.py
  examples/simple/{{cookiecutter.repo_name}}/{{cookiecutter.model_name}}/constants.py
  examples/simple/{{cookiecutter.repo_name}}/{{cookiecutter.model_name}}/generators/__init__.py
  examples/simple/{{cookiecutter.repo_name}}/{{cookiecutter.model_name}}/generators/io.py
  examples/simple/{{cookiecutter.repo_name}}/{{cookiecutter.model_name}}/main.py
  examples/simple/{{cookiecutter.repo_name}}/{{cookiecutter.model_name}}/schema.py
  examples/simple/{{cookiecutter.repo_name}}/{{cookiecutter.model_name}}/transforms/__init__.py
  examples/simple/{{cookiecutter.repo_name}}/{{cookiecutter.model_name}}/transforms/io.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, pre-commit-hook-names, flynt

refactor(naming): changed Pyblock-> PythonTransform
  src/dbgen/__init__.py
  src/dbgen/core/args.py
  src/dbgen/core/decorators.py
  src/dbgen/core/func.py
  src/dbgen/core/generator.py
  src/dbgen/core/node/computational_node.py
  src/dbgen/core/node/transforms.py
  src/dbgen/exceptions.py
  tests/example/json_model.py
  tests/example/simple_model.py
  tests/strategies/__init__.py
  tests/test_gen.py
  tests/test_metadata.py
  tests/test_pyblock.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, flynt

docs: reference the internal alice_bob_model rename tutorial files
  docs/getting_started.md
  docs/tutorial/01_directory_structure.md
  docs/tutorial/02_defining_schema.md
  docs/tutorial/03_csv_to_db.md
  docs/tutorial/04_handling_data_custom_formats.md
  docs/tutorial/05_refining_data.md
  docs_src/tutorial/names.csv
  docs_src/tutorial/tutorial000.py
  docs_src/tutorial/tutorial001.py
  docs_src/tutorial/tutorial002.py
  docs_src/tutorial/tutorial003.py
  docs_src/tutorial/tutorial004.py
  docs_src/tutorials/getting_started/tutorial.py
  examples/alice_bob_lab/{{cookiecutter.repo_name}}/alice_bob_model/extracts/csv_extract.py
  mkdocs.yml
  poetry.lock
  requirements.txt
  scripts/ci/lint.sh
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, flynt

feat(config): added batch_size to config file
  src/dbgen/configuration.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, flynt

feat(run): Major overhaul of the running of models to align with new extract api and future async plans
  poetry.lock
  pyproject.toml
  requirements.txt
  setup.cfg
  src/dbgen/cli/main.py
  src/dbgen/cli/model.py
  src/dbgen/cli/run.py
  src/dbgen/core/dashboard.py
  src/dbgen/core/etl_step.py
  src/dbgen/core/metadata.py
  src/dbgen/core/node/extract.py
  src/dbgen/core/node/load.py
  src/dbgen/core/node/query.py
  src/dbgen/core/run.py
  src/dbgen/utils/typing.py
  tests/example/skip_downstream.py
  tests/test_extract.py
  tests/test_gen.py
  tests/test_query.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, flynt

revert(deps): reset mypy to 0.920 due to assertion error
  poetry.lock
  pyproject.toml
Due: language-matters

docs: added running and debugging and fixed code snippets in tutorial
  docs/running_and_debugging.md
  docs/tutorial/01_directory_structure.md
  docs/tutorial/02_defining_schema.md
  docs/tutorial/04_handling_data_custom_formats.md
  poetry.lock
Due: language-matters

fix: remove Exception from raised sub-errors from transforms
  src/dbgen/core/etl_step.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, flynt

feat(config): added --chdir cli option, simplified global config
  src/dbgen/cli/main.py
  src/dbgen/cli/model.py
  src/dbgen/cli/options.py
  src/dbgen/cli/run.py
  src/dbgen/cli/utils.py
  src/dbgen/configuration.py
  src/dbgen/core/metadata.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, flynt

feat(config): fix error in etl-step command
  src/dbgen/cli/etl_step.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, flynt

chore: bump version to 0.6.0
  README.md
  docs/index.md
  pyproject.toml
  src/dbgen/__init__.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, flynt

fix: fix the links in README
  README.md
Due: language-matters

docs(installation and common errors): added docs for installation and common errors
  docs/common_errors.md
  docs/installation.md
  docs_src/tutorials/errors/__init__.py
  docs_src/tutorials/errors/missing_id_info.py
  docs_src/tutorials/errors/missing_imports.py
  docs_src/tutorials/errors/only_one_row.py
  docs_src/tutorials/errors/transform_output_count_mismatch.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, flynt

chore(linting): fixed minor linting issues
  docs_src/tutorials/errors/missing_imports.py
  docs_src/tutorials/errors/only_one_row.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, flynt

ci: run full pre-commit and update pre-commit hooks for lint/pytest
  .gitignore
  .pre-commit-config.yaml
  docs/database_basics.md
  docs/technical_documentation.md
  scripts/ci/autoflake.sh
Due: language-matters, pre-commit-hook-names

ci: add github templates
  .github/ISSUE_TEMPLATE/bug-report.yml
  .github/ISSUE_TEMPLATE/feature-request.yml
  .github/PULL_REQUEST_TEMPLATE.md
Due: language-matters

ci: fix the feature-request template
  .github/ISSUE_TEMPLATE/feature-request.yml
Due: language-matters

docs(installation): added installation docs and common errors related to bad pip installations
  docs/common_errors.md
  docs/installation.md
  poetry.lock
  requirements.txt
Due: language-matters

docs(installation): corrected the dbgen config command
  .pre-commit-config.yaml
  docs/installation.md
Due: language-matters, pre-commit-hook-names

chore(dependencies): make boto3 optional, remove old dev dependencies add toml formatter
  .pre-commit-config.yaml
  poetry.lock
  pyproject.toml
  requirements.txt
Due: language-matters, pre-commit-hook-names

revert(dependencies): add faker back for testing
  poetry.lock
  pyproject.toml
Due: language-matters

revert(dependencies): remove the optional cookie cutter dependency
  poetry.lock
  pyproject.toml
  requirements.txt
Due: language-matters

feat(logging cli): add --log-file cli option, cli docstrings, config error messaging
  src/dbgen/cli/etl_step.py
  src/dbgen/cli/main.py
  src/dbgen/cli/new.py
  src/dbgen/cli/options.py
  src/dbgen/cli/run.py
  src/dbgen/cli/styles.py
  src/dbgen/configuration.py
  src/dbgen/core/dashboard.py
  src/dbgen/core/metadata.py
  src/dbgen/core/run.py
  src/dbgen/utils/log.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, flynt

chore: bump version to 0.6.1
  pyproject.toml
  src/dbgen/__init__.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, flynt

feat(cli): add more descriptive error messaging for models validation
  src/dbgen/cli/model.py
  src/dbgen/cli/run.py
  src/dbgen/cli/styles.py
  src/dbgen/cli/utils.py
  src/dbgen/core/entity.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, flynt

style(spelling): fix typos in code and docs
  docs/common_errors.md
  examples/alice_bob_lab/{{cookiecutter.repo_name}}/README.md
  examples/simple/{{cookiecutter.repo_name}}/{{cookiecutter.model_name}}/schema.py
  src/dbgen/configuration.py
  src/dbgen/core/func.py
  src/dbgen/core/node/load.py
  src/dbgen/core/node/transforms.py
  src/dbgen/core/run.py
  src/dbgen/core/statement_parsing.py
  tests/test_pyblock.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, flynt

docs(installation): fix the installation docs to include brew services and readme to reference new testing command
  README.md
  docs/installation.md
Due: language-matters

feat(cli): add fast-fail and fail-downstream CLI args as well as better error handling for failed runs
  src/dbgen/cli/run.py
  src/dbgen/core/etl_step.py
  src/dbgen/core/generator.py
  src/dbgen/core/run.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, flynt

feat(error-messages): improve error messages for loading into mangled databases
  src/dbgen/core/node/load.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, flynt

chore(deps): bump version of modelyst-sqlmodel
  poetry.lock
  pyproject.toml
  requirements.txt
Due: language-matters

docs(css): increase the width of the docs main div and fix hello-world tutorial
  docs/css/custom.css
  docs/css/termynal.css
  docs/getting_started.md
  docs_src/directory_screenshot.png
  docs_src/tutorials/getting_started/tutorial.py
  poetry.lock
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, flynt

feat(async): initial commit of functional async code
  setup.cfg
  src/dbgen/cli/run.py
  src/dbgen/cli/utils.py
  src/dbgen/core/async_run.py
  src/dbgen/core/entity.py
  src/dbgen/core/metadata.py
  src/dbgen/core/model.py
  src/dbgen/core/node/load.py
  src/dbgen/core/node/query.py
  src/dbgen/core/run.py
  src/dbgen/exceptions.py
  src/dbgen/utils/typing.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, flynt
