Repository modelyst/dbgen: changes, and which pre-commit hooks are due for each by the changed paths.
All: pydevd, dont-use-safe-filter, no-relative-imports, language-matters, consistent-pylint, pre-commit-hook-names, flynt

pydevd:
  language: pygrep
  name: Check for pydevd debug statements accidentally left
  entry: pydevd.*settrace\(
  pass_filenames: true

dont-use-safe-filter:
  language: pygrep
  name: Don't use safe in templates
  description: the Safe filter is error-prone, use Markup() in code instead
  entry: \|\s*safe
  pass_filenames: true

no-relative-imports:
  language: pygrep
  name: No relative imports
  description: Airflow style is to use absolute imports only
  entry: ^\s*from\s+\.
  pass_filenames: true

language-matters:
  language: pygrep
  name: Check for language that we do not accept as community
  description: Please use "deny_list" or "allow_list"  instead.
  entry: (?i)(black|white)[_-]?list
  pass_filenames: true

consistent-pylint:
  language: pygrep
  name: Check for inconsistent pylint disable/enable without space
  entry: pylint:disable|pylint:enable
  pass_filenames: true

pre-commit-hook-names:
  name: Ensure hook ids are not overly long
  entry: python3 ./scripts/ci/pre_commit/pre_commit_check_pre_commit_hook_names.py
  args:
  - --max-length=70
  language: python
  additional_dependencies:
  - pyyaml
  require_serial: true
  pass_filenames: false

flynt:
  name: Convert to f-strings with flynt
  entry: flynt
  language: python
  language_version: python3
  additional_dependencies:
  - flynt

hotfix: removed limit on test_with_db for gen testing
  src/dbgen/cli/test_gen.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, flynt

add dbname to aws secret connections
  src/dbgen/core/misc.py
  src/dbgen/utils/settings.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, flynt

initial commit of all of dbgen 2.0 code
  .spellignore
  mkdocs.yml
  tests/test_gen.py
  yamllint-config.yml
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, flynt

removed hard coded local dsn for testing
  tests/example/database.py
  tests/example/simple_model.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, flynt

removed hard coded local dsn for testing
  poetry.lock
  pyproject.toml
  scripts/ci/pre_commit/pre_commit_bump_version.py
  src/dbgen/__init__.py
  src/dbgen/cli/main.py
  src/dbgen/cli/options.py
  src/dbgen/configuration.py
  src/dbgen/core/entity.py
  src/dbgen/core/extract.py
  src/dbgen/core/generator.py
  src/dbgen/core/metadata.py
  src/dbgen/core/model.py
  src/dbgen/core/query.py
  src/dbgen/core/run.py
  src/dbgen/utils/misc.py
  src/dbgen/utils/sql.py
  tests/example/database.py
  tests/example/full_model.py
  tests/test_gen.py
  tests/test_model.py
  tests/test_query.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, flynt

added additional CLI and logging to metadatabase
  .pre-commit-config.yaml
  poetry.lock
  pyproject.toml
  setup.cfg
  src/dbgen/cli/generator.py
  src/dbgen/cli/main.py
  src/dbgen/cli/options.py
  src/dbgen/cli/queries.py
  src/dbgen/cli/run.py
  src/dbgen/cli/styles.py
  src/dbgen/cli/utils.py
  src/dbgen/configuration.py
  src/dbgen/core/base.py
  src/dbgen/core/entity.py
  src/dbgen/core/metadata.py
  src/dbgen/core/model.py
  src/dbgen/core/query.py
  src/dbgen/core/run.py
  src/dbgen/core/statement_parsing.py
  src/dbgen/exceptions.py
  tests/example/full_model.py
  tests/example/simple_model.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, pre-commit-hook-names, flynt

added pretty table for cli printing
  pyproject.toml
Due: language-matters

added custom extractors and CLI connection testing
  pyproject.toml
  setup.py
  src/dbgen/__init__.py
  src/dbgen/cli/generator.py
  src/dbgen/cli/main.py
  src/dbgen/cli/model.py
  src/dbgen/cli/run.py
  src/dbgen/cli/utils.py
  src/dbgen/configuration.py
  src/dbgen/core/node/computational_node.py
  src/dbgen/core/node/extract.py
  src/dbgen/core/node/query.py
  src/dbgen/core/run.py
  tests/example/full_model.py
  tests/example/model_with_custom_extract.py
  tests/test_entity.py
  tests/test_gen.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, flynt

added type coercion, logging, and JSON columns
  poetry.lock
  pyproject.toml
  src/dbgen/__init__.py
  src/dbgen/configuration.py
  src/dbgen/core/entity.py
  src/dbgen/core/generator.py
  src/dbgen/core/metadata.py
  src/dbgen/core/node/load.py
  src/dbgen/core/node/query.py
  src/dbgen/core/run.py
  src/dbgen/utils/type_coercion.py
  tests/example/entities.py
  tests/example/full_model.py
  tests/example/model_with_custom_extract.py
  tests/strategies/__init__.py
  tests/strategies/entity.py
  tests/test_entity.py
  tests/test_gen.py
  tests/test_load.py
  tests/test_type_coercion.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, flynt

Major overhaul of type coercion
  poetry.lock
  pyproject.toml
  src/dbgen/cli/run.py
  src/dbgen/configuration.py
  src/dbgen/core/args.py
  src/dbgen/core/entity.py
  src/dbgen/core/generator.py
  src/dbgen/core/metadata.py
  src/dbgen/core/model.py
  src/dbgen/core/node/extract.py
  src/dbgen/core/node/load.py
  src/dbgen/core/run.py
  src/dbgen/core/statement_parsing.py
  src/dbgen/utils/sql.py
  src/dbgen/utils/type_coercion.py
  tests/conftest.py
  tests/example/full_model.py
  tests/example/json_model.py
  tests/example/map_model.py
  tests/example/simple_model.py
  tests/example/test.csv
  tests/example/test_copy_from.py
  tests/performance/__init__.py
  tests/performance/test_validation.py
  tests/strategies/__init__.py
  tests/strategies/entity.py
  tests/test_entity.py
  tests/test_entity_column_type.py
  tests/test_gen.py
  tests/test_load.py
  tests/test_serialization.py
  tests/test_type_coercion.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, flynt

refactored type coercing and added Attribute
  docker/dbgen/Dockerfile.poetry
  docker/dbgen/docker-compose-basictest.yml
  docker/dbgen/envs/py39.env
  poetry.lock
  pyproject.toml
  requirements.dev.txt
  requirements.txt
  setup.cfg
  src/dbgen/__init__.py
  src/dbgen/core/attribute.py
  src/dbgen/core/entity.py
  src/dbgen/core/node/load.py
  src/dbgen/core/type_registry.py
  src/dbgen/types.py
  src/dbgen/utils/type_coercion.py
  src/dbgen/utils/typing.py
  tests/example/pyblock_examples.py
  tests/example/simple_transform.py
  tests/strategies/__init__.py
  tests/test_type_coercion.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, flynt

just getting started
  poetry.lock
  pyproject.toml
  src/dbgen/core/func.py
  src/dbgen/core/node/computational_node.py
  src/dbgen/core/node/transforms.py
  src/dbgen/core/wrappers.py
  tests/test_context_manager.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, flynt

just getting started
  setup.cfg
  src/dbgen/cli/utils.py
  src/dbgen/core/args.py
  src/dbgen/core/context.py
  src/dbgen/core/decorators.py
  src/dbgen/core/entity.py
  src/dbgen/core/func.py
  src/dbgen/core/generator.py
  src/dbgen/core/model.py
  src/dbgen/core/node/computational_node.py
  src/dbgen/core/node/extract.py
  src/dbgen/core/node/load.py
  src/dbgen/core/node/query.py
  src/dbgen/core/node/transforms.py
  tests/example/new_api_model.py
  tests/strategies/__init__.py
  tests/test_context_manager.py
  tests/test_func.py
  tests/test_pyblock.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, flynt

HOTFIX password masking works correctly
  src/dbgen/cli/main.py
  src/dbgen/utils/sql.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, flynt

added workflow and fixed lint issues
  .coveragerc
  .github/workflows/test.yml
  .pre-commit-config.yaml
  poetry.lock
  pyproject.toml
  scripts/ci/autoflake.sh
  scripts/ci/lint.sh
  scripts/ci/test.sh
  setup.cfg
  src/dbgen/__init__.py
  src/dbgen/cli/generator.py
  src/dbgen/cli/utils.py
  src/dbgen/configuration.py
  src/dbgen/core/args.py
  src/dbgen/core/context.py
  src/dbgen/core/decorators.py
  src/dbgen/core/generator.py
  src/dbgen/core/model.py
  src/dbgen/core/node/computational_node.py
  src/dbgen/core/node/extract.py
  src/dbgen/core/node/load.py
  src/dbgen/core/node/query.py
  src/dbgen/core/node/transforms.py
  src/dbgen/utils/type_coercion.py
  tests/conftest.py
  tests/example/full_model.py
  tests/strategies/__init__.py
  tests/test_context_manager.py
  tests/test_pyblock.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, pre-commit-hook-names, flynt

removed version plugin from ci
  .github/workflows/test.yml
Due: language-matters

pinned version of pydasher
  poetry.lock
  pyproject.toml
  requirements.dev.txt
  requirements.txt
Due: language-matters

removed old version now that we are using dynamic versioning
  pyproject.toml
Due: language-matters

removed all dynamic versioning as it is too buggy for now
  .github/workflows/test.yml
  .pre-commit-config.yaml
  poetry.lock
  pyproject.toml
  src/dbgen/__init__.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, pre-commit-hook-names, flynt

attempt to fix linting for workflow actions
  .github/workflows/test.yml
  poetry.lock
  pyproject.toml
  scripts/ci/lint.sh
Due: language-matters

added publish workflow
  .github/workflows/publish.yml
Due: language-matters

added not database flag to tests for temporary simple testing
  .github/workflows/publish.yml
  pyproject.toml
  scripts/ci/test.sh
  src/dbgen/__init__.py
  tests/test_basic.py
  tests/test_connection.py
  tests/test_entity.py
  tests/test_gen.py
  tests/test_load.py
  tests/test_metadata.py
  tests/test_model.py
  tests/test_query.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, flynt

modified test script for coverage badge
  scripts/ci/test.sh
Due: language-matters

modified poetry version in workflows to allow for publishing
  .github/workflows/publish.yml
Due: language-matters

modified readme and added badges
  README.md
Due: language-matters

changed coverage to only look at dbgen
  .coveragerc
  pyproject.toml
  src/dbgen/__init__.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, flynt

fixed error in publish workflow
  .github/workflows/publish.yml
Due: language-matters

pinned pydasher version...
  poetry.lock
  pyproject.toml
Due: language-matters

updated pydasher version to include py.typed
  poetry.lock
  pyproject.toml
  requirements.dev.txt
  requirements.txt
Due: language-matters

moved git dependency to pypi to enable publishing to pypi
  poetry.lock
  pyproject.toml
  src/dbgen/__init__.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, flynt

updated readme, requirements.txt and added path to main function
  README.md
  docs/index.md
  docs_src/installation/git_installation.sh
  mkdocs.yml
  poetry.lock
  pyproject.toml
  requirements.dev.txt
  requirements.txt
  scripts/export_requirements.sh
  src/dbgen/__main__.py
  src/dbgen/core/node/computational_node.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, flynt

fixed bash installation for github readme and set github action for only master branch
  .github/workflows/test.yml
  README.md
Due: language-matters

first pass at solar cell docs
  docs/brian.md
  docs_src/tutorial/000.py
  docs_src/tutorial/001.py
  docs_src/tutorial/002.py
  docs_src/tutorial/003.py
  docs_src/tutorial/004.py
  docs_src/tutorial/005.py
  docs_src/tutorial/006.py
  docs_src/tutorial/007.py
  docs_src/tutorial/008.py
  docs_src/tutorial/009.py
  docs_src/tutorial/010.py
  docs_src/usage/tutorial000.py
  docs_src/usage/tutorial001.py
  docs_src/usage/tutorial002.py
  docs_src/usage/tutorial003.py
  mkdocs.yml
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, flynt

fixed typos
  docs_src/tutorial/006.py
  docs_src/tutorial/008.py
  tests/example/tutorial.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, flynt

updated some documentation and enabled underscore privateattrs for extracts
  docs/getting_started.md
  docs_src/tutorial/008.py
  docs_src/tutorial/010.py
  docs_src/tutorial/scratch/test.csv
  docs_src/tutorial/tutorial000.py
  docs_src/tutorial/tutorial001.py
  docs_src/tutorial/tutorial002.py
  docs_src/tutorial/tutorial003.py
  docs_src/tutorial/tutorial004.py
  docs_src/tutorial/tutorial005.py
  docs_src/tutorial/tutorial006.py
  docs_src/tutorial/tutorial007.py
  docs_src/tutorial/tutorial008.py
  docs_src/tutorial/tutorial009.py
  docs_src/tutorial/tutorial010.py
  mkdocs.yml
  pyproject.toml
  src/dbgen/__init__.py
  src/dbgen/cli/run.py
  src/dbgen/configuration.py
  src/dbgen/core/node/extract.py
  src/dbgen/core/node/transforms.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, flynt

updated tests
  tests/example/tutorial.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, flynt

added postgres container to the github action
  .github/workflows/test.yml
  mkdocs.yml
  scripts/ci/test.sh
Due: language-matters

add port to postgres service in test action
  .github/workflows/test.yml
Due: language-matters

Path conditions:
  pydevd: any of: \.py$
  dont-use-safe-filter: any of: \.html$
  no-relative-imports: any of: \.py$, but not: ^dbgen/test/|^dbgen/cli/newfiles/
  language-matters: any file but: (?x) ^dbgen/test/test_cli/test_main.py$| ^CHANGELOG.txt$

  consistent-pylint: any of: \.py$
  pre-commit-hook-names: any of: ^.pre-commit-config.yaml$
  flynt: any of: \.py$
