Repository modelyst/dbgen: changes, and which pre-commit hooks are due for each by the changed paths.
All: pydevd, dont-use-safe-filter, no-relative-imports, language-matters, consistent-pylint, pre-commit-hook-names, flynt

pydevd:
  language: pygrep
  name: Check for pydevd debug statements accidentally left
  entry: pydevd.*settrace\(
  pass_filenames: true

dont-use-safe-filter:
  language: pygrep
  name: Don't use safe in templates
  description: the Safe filter is error-prone, use Markup() in code instead
  entry: \|\s*safe
  pass_filenames: true

no-relative-imports:
  language: pygrep
  name: No relative imports
  description: Airflow style is to use absolute imports only
  entry: ^\s*from\s+\.
  pass_filenames: true

language-matters:
  language: pygrep
  name: Check for language that we do not accept as community
  description: Please use "deny_list" or "allow_list"  instead.
  entry: (?i)(black|white)[_-]?list
  pass_filenames: true

consistent-pylint:
  language: pygrep
  name: Check for inconsistent pylint disable/enable without space
  entry: pylint:disable|pylint:enable
  pass_filenames: true

pre-commit-hook-names:
  name: Ensure hook ids are not overly long
  entry: python3 ./scripts/ci/pre_commit/pre_commit_check_pre_commit_hook_names.py
  args:
  - --max-length=70
  language: python
  additional_dependencies:
  - pyyaml
  require_serial: true
  pass_filenames: false

flynt:
  name: Convert to f-strings with flynt
  entry: flynt
  language: python
  language_version: python3
  additional_dependencies:
  - flynt

added mypy pre-commit script
  .pre-commit-config.yaml
  scripts/ci/pre_commit/pre_commit_check_mypy.sh
Due: language-matters, pre-commit-hook-names

added named paths
  setup.cfg
  src/dbgen/core/expr/pathattr.py
  src/dbgen/core/fromclause.py
  src/dbgen/core/model/model.py
  src/dbgen/core/schema.py
  tests/test_named_paths.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, flynt

removed all references to tests in src
  src/dbgen/core/fromclause.py
  src/dbgen/core/schema.py
  tests/strategies/core/fromclause.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, flynt

allow for subdirectories called data and error messaging
  .gitignore
  MANIFEST.in
  poetry.lock
  pyproject.toml
  src/dbgen/cli/main.py
  src/dbgen/utils/log.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, flynt

Changed Obj -> Entity
  docs/usage.md
  src/dbgen/__init__.py
  src/dbgen/cli/newfiles/schema.py
  src/dbgen/core/fromclause.py
  src/dbgen/core/gen.py
  src/dbgen/core/load.py
  src/dbgen/core/model/metatable.py
  src/dbgen/core/model/model.py
  src/dbgen/core/pathconstraint.py
  src/dbgen/core/query.py
  src/dbgen/core/schema.py
  src/dbgen/core/schemaclass.py
  src/dbgen/example/schema.py
  tests/strategies/__init__.py
  tests/strategies/core/schema.py
  tests/strategies/test_hypothesis.py
  tests/test_action.py
  tests/test_serialization.py
  tests/test_type_checking.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, flynt

added data back to example
  src/dbgen/example/data/experiment.json
  src/dbgen/example/data/procedure.db
  src/dbgen/example/data/procedures.csv
  src/dbgen/example/data/ssn.json
Due: language-matters

added partition tables
  .gitignore
  poetry.lock
  pyproject.toml
  src/dbgen/core/expr/sqltypes.py
  src/dbgen/core/gen.py
  src/dbgen/core/load.py
  src/dbgen/core/model/model.py
  src/dbgen/core/schema.py
  src/dbgen/core/schemaclass.py
  tests/test_entities/__init__.py
  tests/test_entities/test_partitions.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, flynt

hotfix to non-inserted FKs
  src/dbgen/core/load.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, flynt

fixed recursive loading dependency issue
  src/dbgen/__init__.py
  src/dbgen/core/load.py
  tests/test_load.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, flynt

Added if not exist to partitions
  src/dbgen/core/schema.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, flynt

Added partition key to the insert.sql tempalte
  src/dbgen/core/load.py
  src/dbgen/core/schema.py
  src/dbgen/templates/insert.sql.jinja
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, flynt

Removed old files for public release
  scripts/ci/libraries/_all_libs.sh
  scripts/ci/libraries/_build_airflow_packages.sh
  scripts/ci/libraries/_build_images.sh
  scripts/ci/libraries/_initialization.sh
  scripts/ci/libraries/_kind.sh
  scripts/ci/libraries/_local_mounts.sh
  scripts/ci/libraries/_md5sum.sh
  scripts/ci/libraries/_parameters.sh
  scripts/ci/libraries/_permissions.sh
  scripts/ci/libraries/_push_pull_remove_images.sh
  scripts/ci/libraries/_pylint.sh
  scripts/ci/libraries/_repeats.sh
  scripts/ci/libraries/_runs.sh
  scripts/ci/libraries/_sanity_checks.sh
  scripts/ci/libraries/_script_init.sh
  scripts/ci/libraries/_spinner.sh
  scripts/ci/libraries/_start_end.sh
  scripts/ci/libraries/_traps.sh
  scripts/ci/libraries/_verbosity.sh
  scripts/ci/static_checks/bats_tests.sh
  scripts/ci/static_checks/check_license.sh
  scripts/ci/static_checks/flake8.sh
  scripts/ci/static_checks/helm_lint.sh
  scripts/ci/static_checks/in_container_bats_tests.sh
  scripts/ci/static_checks/lint_dockerfile.sh
  scripts/ci/static_checks/mypy.sh
  scripts/ci/static_checks/pylint.sh
  scripts/ci/static_checks/refresh_pylint_todo.sh
  scripts/ci/static_checks/run_basic_static_checks.sh
  scripts/ci/static_checks/run_static_checks.sh
  scripts/ci/static_checks/test.sh
Due: language-matters

Updated README
  README.md
Due: language-matters

Modified getting dbgen section in README
  README.md
  docs/index.md
Due: language-matters

Fixed missing image on README
  README.md
Due: language-matters

hotfix for python3.8 compatibility
  .DS_Store
  .gitignore
  src/dbgen/example/scripts/parsers.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, flynt

removed license from source files and removed pre-commit check
  .pre-commit-config.yaml
  docs/index.md
  docs_src/usage/tutorial000.py
  docs_src/usage/tutorial001.py
  docs_src/usage/tutorial002.py
  docs_src/usage/tutorial003.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, pre-commit-hook-names, flynt

Added bump version checker to pre-commit
  .pre-commit-config.yaml
  scripts/ci/pre_commit/pre_commit_bump_version.py
  src/dbgen/version.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, pre-commit-hook-names, flynt

modified bump version to only apply to the pyproject and src files
  .pre-commit-config.yaml
  scripts/ci/pre_commit/pre_commit_bump_version.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, pre-commit-hook-names, flynt

Updated Docker configuration and bumped version
  .dockerignore
  docker/dbgen/Dockerfile.airflow
  docker/dbgen/Dockerfile.pip
  docker/dbgen/Dockerfile.poetry
  docker/docker-compose-LocalExecutor.yml
  poetry.lock
  pyproject.toml
  requirements.txt
  scripts/build.sh
  scripts/publish_docs.sh
  scripts/publish_pip.sh
  setup.py
  src/dbgen/example/constants.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, flynt

removed licenses from docs_src
  .pre-commit-config.yaml
  docs_src/usage/tutorial000.py
  docs_src/usage/tutorial001.py
  docs_src/usage/tutorial002.py
  docs_src/usage/tutorial003.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, pre-commit-hook-names, flynt

small improvements to the docker images and example model for testing
  docker/dbgen/Dockerfile.pip
  docker/dbgen/docker-compose-basictest.yml
  docker/dbgen/envs/py37.env
  docker/dbgen/envs/py38.env
  docker/dbgen/envs/py39.env
  poetry.lock
  pyproject.toml
  requirements.txt
  scripts/build_pip.sh
  scripts/ci/pre_commit/pre_commit_bump_version.py
  scripts/in_container/entrypoint_prod.sh
  setup.cfg
  src/dbgen/core/load.py
  src/dbgen/core/model/run_airflow.py
  src/dbgen/example/constants.py
  src/dbgen/example/generators/io.py
  src/dbgen/example/main.py
  src/dbgen/example/scripts/parsers.py
  src/dbgen/version.py
  tests/test_cli/test_main.py
  tests/test_entities/test_partitions.py
  tests/test_pyblock.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, flynt

merged setup.py version with git version
  pyproject.toml
  setup.py
  src/dbgen/version.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, flynt

further fixed dbgen docker image for testing basic pip
  docker/dbgen/Dockerfile.pip-basic
  docker/dbgen/docker-compose-basictest.yml
  docker/dbgen/envs/py38-pip-basic.env
Due: language-matters

add installation instructions for pip
  README.md
  docs/index.md
  docs/installation.md
  docs_src/installation/git_installation.sh
Due: language-matters

added capturing of pyblock stdout
  .pre-commit-config.yaml
  docs_src/installation/git_installation.sh
  pyproject.toml
  src/dbgen/core/funclike.py
  src/dbgen/core/model/run_gen.py
  src/dbgen/utils/config_templates/default_dbgen.cfg
  src/dbgen/utils/log.py
  src/dbgen/version.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, pre-commit-hook-names, flynt

improved cli for connecting to database and getting config
  src/dbgen/cli/main.py
  src/dbgen/core/misc.py
  src/dbgen/utils/config.py
  src/dbgen/utils/misc.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, flynt

added allow nulls and star for entities PathAttr
  .gitignore
  .pre-commit-config.yaml
  scripts/ci/pre_commit/pre_commit_write_gitversion.py
  src/dbgen/cli/main.py
  src/dbgen/core/expr/pathattr.py
  src/dbgen/core/query.py
  src/dbgen/core/schema.py
  src/dbgen/git_version
  tests/strategies/core/schema.py
  tests/strategies/test_hypothesis.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, pre-commit-hook-names, flynt

improved cli for connecting to database and getting config
  .pre-commit-config.yaml
  src/dbgen/git_version
  src/dbgen/utils/interact.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, pre-commit-hook-names, flynt

hotfix: broken interact mode
  src/dbgen/utils/interact.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, flynt

added test-gen to CLI
  pyproject.toml
  src/dbgen/cli/main.py
  src/dbgen/cli/new.py
  src/dbgen/cli/styles.py
  src/dbgen/cli/test_gen.py
  src/dbgen/cli/utils.py
  src/dbgen/core/expr/pathattr.py
  src/dbgen/core/gen.py
  src/dbgen/utils/config_templates/default_dbgen.cfg
  src/dbgen/utils/interact.py
  tests/test_cli/test_main.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, flynt

added aws connections and environemental variables
  poetry.lock
  pyproject.toml
  src/dbgen/cli/main.py
  src/dbgen/core/misc.py
  src/dbgen/utils/aws.py
  src/dbgen/utils/config_templates/default_dbgen.cfg
  src/dbgen/utils/settings.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, flynt

added messages to cli
  .gitignore
  src/dbgen/cli/test_gen.py
  src/dbgen/git_version
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, flynt

bump version to 0.4.8
  pyproject.toml
  src/dbgen/version.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, flynt

allow for overwriting of aws secrets
  src/dbgen/core/misc.py
  src/dbgen/utils/settings.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, flynt

bump version to 0.4.9
  pyproject.toml
  src/dbgen/version.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, flynt

Added help line to model_str
  src/dbgen/cli/main.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, flynt

Path conditions:
  pydevd: any of: \.py$
  dont-use-safe-filter: any of: \.html$
  no-relative-imports: any of: \.py$, but not: ^dbgen/test/|^dbgen/cli/newfiles/
  language-matters: any file but: (?x) ^dbgen/test/test_cli/test_main.py$| ^CHANGELOG.txt$

  consistent-pylint: any of: \.py$
  pre-commit-hook-names: any of: ^.pre-commit-config.yaml$
  flynt: any of: \.py$
