Repository modelyst/dbgen: changes, and which pre-commit hooks are due for each by the changed paths.
All: pydevd, dont-use-safe-filter, no-relative-imports, language-matters, consistent-pylint, pre-commit-hook-names, flynt

pydevd:
  language: pygrep
  name: Check for pydevd debug statements accidentally left
  entry: pydevd.*settrace\(
  pass_filenames: true

dont-use-safe-filter:
  language: pygrep
  name: Don't use safe in templates
  description: the Safe filter is error-prone, use Markup() in code instead
  entry: \|\s*safe
  pass_filenames: true

no-relative-imports:
  language: pygrep
  name: No relative imports
  description: Airflow style is to use absolute imports only
  entry: ^\s*from\s+\.
  pass_filenames: true

language-matters:
  language: pygrep
  name: Check for language that we do not accept as community
  description: Please use "deny_list" or "allow_list"  instead.
  entry: (?i)(black|white)[_-]?list
  pass_filenames: true

consistent-pylint:
  language: pygrep
  name: Check for inconsistent pylint disable/enable without space
  entry: pylint:disable|pylint:enable
  pass_filenames: true

pre-commit-hook-names:
  name: Ensure hook ids are not overly long
  entry: python3 ./scripts/ci/pre_commit/pre_commit_check_pre_commit_hook_names.py
  args:
  - --max-length=70
  language: python
  additional_dependencies:
  - pyyaml
  require_serial: true
  pass_filenames: false

flynt:
  name: Convert to f-strings with flynt
  entry: flynt
  language: python
  language_version: python3
  additional_dependencies:
  - flynt

added create schema to python fixture so we can start from scratch
  tests/conftest.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, flynt

Create CNAME
  CNAME
Due: language-matters

Delete CNAME
  CNAME
Due: language-matters

added netlify CI integration
  .github/workflows/publish_docs.yml
  .gitignore
  .pre-commit-config.yaml
  README.md
  docs/configuration.md
  docs/img/interrogate.svg
  docs/index.md
  docs/usage.md
  mkdocs.yml
  poetry.lock
  pyproject.toml
  tests/example/new_api_model.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, pre-commit-hook-names, flynt

fixed token name in publish docs action
  .github/workflows/publish_docs.yml
Due: language-matters

removed container from publish docs action and removed ! from docs
  .github/workflows/publish_docs.yml
  docs/index.md
Due: language-matters

removed tmate from actions and exanded python versions to test
  .github/workflows/publish_docs.yml
  .github/workflows/test.yml
  README.md
  docs/index.md
Due: language-matters

changed typing imports to make dbgen compatible with 3.7 and 3.8
  .github/workflows/test.yml
  .pre-commit-config.yaml
  docs/img/interrogate.svg
  docs_src/tutorial/tutorial010.py
  pyproject.toml
  scripts/ci/lint.sh
  scripts/ci/test.sh
  src/dbgen/__init__.py
  src/dbgen/core/args.py
  src/dbgen/core/decorators.py
  src/dbgen/core/func.py
  src/dbgen/core/model.py
  src/dbgen/utils/graphs.py
  tests/example/full_model.py
  tests/example/new_api_model.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, pre-commit-hook-names, flynt

fixed typing so linter passes
  .pre-commit-config.yaml
  src/dbgen/cli/model.py
  src/dbgen/utils/graphs.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, pre-commit-hook-names, flynt

fixed type hinting for custom extractors
  poetry.lock
  pyproject.toml
  scripts/build.sh
  src/dbgen/core/func.py
  src/dbgen/core/generator.py
  src/dbgen/core/node/common_extractors.py
  src/dbgen/core/node/computational_node.py
  src/dbgen/core/node/extract.py
  src/dbgen/core/node/transforms.py
  src/dbgen/core/run.py
  src/dbgen/providers/__init__.py
  src/dbgen/providers/aws/__init__.py
  src/dbgen/providers/aws/extract.py
  tests/example/new_api_model.py
  tests/test_common_extractors.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, flynt

add multi-stage dockerfile
  docker/dbgen/Dockerfile
Due: language-matters

fix(query)!: fix bind parameters for where clause
  src/dbgen/core/node/query.py
  tests/test_select.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, flynt

fix(tests): removed old tests
  .gitignore
  tests/test_airflow/__init__.py
  tests/test_airflow/test_airflow_conn.py
  tests/test_airflow/test_broken_airflow.py
  tests/test_airflow/test_imports.py
  tests/test_entity_column_type.py
  tests/test_extract.py
  tests/test_graph_serialization.py
  tests/test_sqlmodel.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, flynt

fix(validation): modify validation to only raise required field errors on insert
  src/dbgen/core/entity.py
  src/dbgen/core/node/load.py
  tests/test_load_validation.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, flynt

refactor(decorators): removed the TypeArg class now that Arg is a generic class
  src/dbgen/core/decorators.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, flynt

feat(validation): add required validation when insert=True
  src/dbgen/core/entity.py
  src/dbgen/core/node/load.py
  tests/test_load_validation.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, flynt

feat(validation)!: validate entity kwargs and change all_id to all_identifying
  src/dbgen/core/entity.py
  src/dbgen/core/func.py
  src/dbgen/exceptions.py
  tests/performance/test_validation.py
  tests/test_entity.py
  tests/test_type_coercion.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, flynt

fix(dependency)!: major fix to dependency tracking
  src/dbgen/core/dependency.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, flynt

fix(query)!: fixed the parametrized queries
  src/dbgen/core/node/query.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, flynt

fix(query)!: many statement parsing and batch query optimizations
  src/dbgen/__init__.py
  src/dbgen/cli/run.py
  src/dbgen/cli/utils.py
  src/dbgen/configuration.py
  src/dbgen/core/decorators.py
  src/dbgen/core/entity.py
  src/dbgen/core/func.py
  src/dbgen/core/model.py
  src/dbgen/core/node/common_extractors.py
  src/dbgen/core/node/computational_node.py
  src/dbgen/core/node/load.py
  src/dbgen/core/node/query.py
  src/dbgen/core/node/transforms.py
  src/dbgen/core/run.py
  src/dbgen/core/statement_parsing.py
  src/dbgen/exceptions.py
  src/dbgen/utils/lists.py
  tests/test_const.py
  tests/test_function_parsing.py
  tests/test_load.py
  tests/test_select.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, flynt

feat(added dev dependenies)
  .pre-commit-config.yaml
  poetry.lock
  pyproject.toml
  requirements.txt
Due: language-matters, pre-commit-hook-names

feat(installation) installation docs page added
  .gitignore
  docs/installation.md
  docs_src/tutorial/010.py
  mkdocs.yml
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, flynt

feat(hello_world_docs): added documentation page for a hello world DBgen model.
  docs/getting_started.md
  docs/index.md
  docs/tutorial.md
  docs_src/hello_world/hello_world.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, flynt

feat(logging)!: replaced colorama/prettytable with rich
  poetry.lock
  pyproject.toml
  setup.cfg
  src/dbgen/cli/model.py
  src/dbgen/cli/run.py
  src/dbgen/configuration.py
  src/dbgen/core/node/query.py
  src/dbgen/core/statement_parsing.py
  src/dbgen/utils/lists.py
  src/dbgen/utils/log.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, flynt

feat(cli): added the new command to CLI tool
  src/dbgen/cli/main.py
  src/dbgen/cli/new.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, flynt

feat(naming)!: renamed loading id column to id from table_name
  poetry.lock
  scripts/ci/lint.sh
  src/dbgen/core/entity.py
  tests/test_gen.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, flynt

version: bump version to 0.0.16
  pyproject.toml
  src/dbgen/__init__.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, flynt

feat(deps)!: move rich to package and remove python compatability 3.7
  .github/workflows/test.yml
  poetry.lock
Due: language-matters

version(bump): bump version to 0.5.17
  pyproject.toml
  src/dbgen/__init__.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, flynt

feat(cli):fixed dbgen new command to check for cookiecutter and bumped version
  pyproject.toml
  src/dbgen/__init__.py
  src/dbgen/cli/new.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, flynt

feat(cli): migrated styles to rich and added model validate
  docker/dbgen/Dockerfile
  docker/dbgen/Dockerfile.pip-basic
  src/dbgen/cli/main.py
  src/dbgen/cli/model.py
  src/dbgen/cli/options.py
  src/dbgen/cli/styles.py
  src/dbgen/cli/utils.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, flynt

added docs for tutorial
  docs/database_basics.md
  docs/overview_and_concepts.md
  docs/tutorial.md
  docs/tutorial_old.md
  docs_src/tutorial/names.csv
  docs_src/tutorial/tutorial000.py
  docs_src/tutorial/tutorial001.py
  docs_src/tutorial/tutorial002.py
  docs_src/tutorial/tutorial003.py
  docs_src/tutorial/tutorial004.py
  docs_src/tutorial_old/010.py
  docs_src/tutorial_old/scratch/test.csv
  docs_src/tutorial_old/tutorial000.py
  docs_src/tutorial_old/tutorial001.py
  docs_src/tutorial_old/tutorial002.py
  docs_src/tutorial_old/tutorial003.py
  docs_src/tutorial_old/tutorial004.py
  docs_src/tutorial_old/tutorial005.py
  docs_src/tutorial_old/tutorial006.py
  docs_src/tutorial_old/tutorial007.py
  docs_src/tutorial_old/tutorial008.py
  docs_src/tutorial_old/tutorial009.py
  docs_src/tutorial_old/tutorial010.py
  mkdocs.yml
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, flynt

testing async with brian
  src/dbgen/cli/model.py
  src/dbgen/cli/run.py
  src/dbgen/cli/utils.py
  src/dbgen/core/async_run.py
  src/dbgen/core/dashboard.py
  src/dbgen/core/entity.py
  src/dbgen/core/generator.py
  src/dbgen/core/metadata.py
  src/dbgen/core/model.py
  src/dbgen/core/node/common_extractors.py
  src/dbgen/core/node/extract.py
  src/dbgen/core/node/load.py
  src/dbgen/core/node/query.py
  src/dbgen/core/node/transforms.py
  src/dbgen/core/run.py
  src/dbgen/core/statement_parsing.py
  src/dbgen/exceptions.py
  src/dbgen/py.typed
  src/dbgen/utils/log.py
  tests/example/json_model.py
  tests/example/simple_model.py
  tests/test_gen.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, flynt

ci(precommit): remove bump version add poetry and add mdx-include
  .pre-commit-config.yaml
  docs_src/hello_world/hello_world.py
  docs_src/tutorial/tutorial000.py
  docs_src/tutorial/tutorial001.py
  docs_src/tutorial/tutorial002.py
  docs_src/tutorial/tutorial003.py
  docs_src/tutorial/tutorial004.py
  docs_src/tutorial_old/010.py
  docs_src/tutorials/alice_bob_lab/data/make_measurements.py
  docs_src/tutorials/alice_bob_lab/extracts/csv_extract.py
  docs_src/tutorials/alice_bob_lab/extracts/measurement_extract.py
  docs_src/tutorials/alice_bob_lab/generators/__init__.py
  docs_src/tutorials/alice_bob_lab/generators/f_to_c.py
  docs_src/tutorials/alice_bob_lab/generators/parse_measurements.py
  docs_src/tutorials/alice_bob_lab/generators/read_csv.py
  docs_src/tutorials/alice_bob_lab/main.py
  docs_src/tutorials/alice_bob_lab/schema.py
  docs_src/tutorials/getting_started/tutorial.py
  poetry.lock
  pyproject.toml
  requirements.txt
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, pre-commit-hook-names, flynt

fix(docs): removed broken links in docs
  .github/workflows/publish_docs.yml
  .github/workflows/test.yml
  docs/tutorial_old.md
  docs_src/tutorial_old/010.py
  docs_src/tutorial_old/scratch/test.csv
  docs_src/tutorial_old/tutorial000.py
  docs_src/tutorial_old/tutorial001.py
  docs_src/tutorial_old/tutorial002.py
  docs_src/tutorial_old/tutorial003.py
  docs_src/tutorial_old/tutorial004.py
  docs_src/tutorial_old/tutorial005.py
  docs_src/tutorial_old/tutorial006.py
  docs_src/tutorial_old/tutorial007.py
  docs_src/tutorial_old/tutorial008.py
  docs_src/tutorial_old/tutorial009.py
  docs_src/tutorial_old/tutorial010.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, flynt

ci(netlify): updated version for netlify
  .github/workflows/publish_docs.yml
Due: language-matters

(feat:docs) added more tutorial documentation and DBgen overview and concepts
  docs/common_errors.md
  docs/overview_and_concepts.md
  docs/running_and_debugging.md
  docs/technical_documentation.md
  docs/tutorial/directory_structure.md
  docs/tutorial/etl.md
  docs/tutorial/schema.md
  docs/tutorial_old.md
  docs_src/tutorial_old/010.py
  docs_src/tutorial_old/scratch/test.csv
  docs_src/tutorial_old/tutorial000.py
  docs_src/tutorial_old/tutorial001.py
  docs_src/tutorial_old/tutorial002.py
  docs_src/tutorial_old/tutorial003.py
  docs_src/tutorial_old/tutorial004.py
  docs_src/tutorial_old/tutorial005.py
  docs_src/tutorial_old/tutorial006.py
  docs_src/tutorial_old/tutorial007.py
  docs_src/tutorial_old/tutorial008.py
  docs_src/tutorial_old/tutorial009.py
  docs_src/tutorial_old/tutorial010.py
  docs_src/tutorials/alice_bob_lab/generators/__init__.py
  docs_src/tutorials/alice_bob_lab/generators/read_csv.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, flynt

Path conditions:
  pydevd: any of: \.py$
  dont-use-safe-filter: any of: \.html$
  no-relative-imports: any of: \.py$, but not: ^dbgen/test/|^dbgen/cli/newfiles/
  language-matters: any file but: (?x) ^dbgen/test/test_cli/test_main.py$| ^CHANGELOG.txt$

  consistent-pylint: any of: \.py$
  pre-commit-hook-names: any of: ^.pre-commit-config.yaml$
  flynt: any of: \.py$
