Repository modelyst/dbgen: changes, and which pre-commit hooks are due for each by the changed paths.
All: pydevd, dont-use-safe-filter, no-relative-imports, language-matters, consistent-pylint, pre-commit-hook-names, flynt

Path conditions:
  pydevd: any of: \.py$
  dont-use-safe-filter: any of: \.html$
  no-relative-imports: any of: \.py$, but not: ^dbgen/test/|^dbgen/cli/newfiles/
  language-matters: any file but: (?x) ^dbgen/test/test_cli/test_main.py$| ^CHANGELOG.txt$

  consistent-pylint: any of: \.py$
  pre-commit-hook-names: any of: ^.pre-commit-config.yaml$
  flynt: any of: \.py$

fix!: check if list column is a list of lists before wrapping in singleton
  src/dbgen/core/node/load.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, flynt

fix: modify database syncing and copy_on_validation code
  poetry.lock
  pyproject.toml
  requirements.txt
  src/dbgen/core/metadata.py
  src/dbgen/core/model.py
  src/dbgen/core/run/model_run.py
  tests/test_etl_step.py
  tests/test_load.py
  tests/test_metadata.py
  tests/test_model.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, flynt

fix: remove copy from Base object and delete context before validation
  poetry.lock
  pyproject.toml
  requirements.txt
  src/dbgen/core/base.py
  src/dbgen/core/model.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, flynt

fix: add schema creation to test_model_sync
  tests/test_model.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, flynt

fix: creation of schemas for custom schemas
  src/dbgen/core/model.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, flynt

fix: remove publish docs github action on PR and only on publish on commit to master
  .github/workflows/publish_docs.yml
Due: language-matters

feat: add docker-publish action
  .dockerignore
  .github/workflows/docker-publish.yml
  docker/dbgen/Dockerfile
Due: language-matters

chore: bump version to 1.0.0a1
  pyproject.toml
  src/dbgen/__init__.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, flynt

fix: remove the cosigning from docker action
  .github/workflows/docker-publish.yml
Due: language-matters

feat: move non-remote runs to default and allow non-remote runs to not use env
  .pre-commit-config.yaml
  README.md
  docker/tests/full-model-compose.yml
  poetry.lock
  pyproject.toml
  requirements.txt
  scripts/ci/pre_commit/pre_commit_docker_compose_test.sh
  setup.cfg
  src/dbgen/cli/run.py
  src/dbgen/configuration.py
  src/dbgen/core/etl_step.py
  src/dbgen/core/func.py
  src/dbgen/core/run/async_run.py
  src/dbgen/utils/log.py
  tests/test_func.py
  tests/test_log.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, pre-commit-hook-names, flynt

chore: include py.typed file
  docs/index.md
  pyproject.toml
Due: language-matters

chore: remove git_version from pyproject.toml
  pyproject.toml
  src/dbgen/py.typed
Due: language-matters

feat: ecs work
  docker/dbgen/Dockerfile-dev
  docker/dbgen/docker-compose-basictest.yml
  poetry.lock
  requirements.txt
  src/dbgen/cli/deploy.py
  src/dbgen/cli/main.py
  src/dbgen/cli/model.py
  src/dbgen/cli/run.py
  src/dbgen/core/run/async_run.py
  src/dbgen/docker/Dockerfile
  src/dbgen/providers/aws/ecs.py
  src/dbgen/providers/aws/logs.py
  src/dbgen/providers/aws/secrets.py
  src/dbgen/utils/sql.py
  tests/test_scratch.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, flynt

fix: minor bug fixes to async logging, poetry version and sql engine
  poetry.lock
  pyproject.toml
  requirements.txt
  src/dbgen/cli/utils.py
  src/dbgen/core/func.py
  src/dbgen/core/node/transforms.py
  src/dbgen/core/run/async_run.py
  src/dbgen/utils/sql.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, flynt

chore: update typer
  poetry.lock
  pyproject.toml
  requirements.txt
Due: language-matters

fix: update the config test
  tests/test_cli.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, flynt

fix: add better error messages for invalid transform inputs
  .pre-commit-config.yaml
  poetry.lock
  requirements.txt
  src/dbgen/core/decorators.py
  src/dbgen/core/node/computational_node.py
  src/dbgen/core/node/transforms.py
  src/dbgen/exceptions.py
  tests/test_pyblock.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, pre-commit-hook-names, flynt

fix: update psycopg to psycopg-binary
  poetry.lock
  pyproject.toml
  requirements.txt
Due: language-matters

fix: remove assertion in config test
  tests/test_cli.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, flynt

chore(actions): add release action
  .github/workflows/release.yml
Due: language-matters

chore(actions): update release action naming
  .github/workflows/release.yml
Due: language-matters

chore(version): bump version to 1.0.0a2
  pyproject.toml
  src/dbgen/__init__.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, flynt

chore(actions): merge release and publish into single action
  .github/workflows/publish.yml
  .github/workflows/release.yml
Due: language-matters

fix(actions): fix release publish action needs
  .github/workflows/release.yml
Due: language-matters

chore(version): bump version to 1.0.0a3
  pyproject.toml
  src/dbgen/__init__.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, flynt

fix: fix pre-release checkign in the release workflow
  .github/workflows/release.yml
Due: language-matters

ci: add commitizen and remove conventional message
  .pre-commit-config.yaml
  poetry.lock
  pyproject.toml
Due: language-matters, pre-commit-hook-names

ci(precommit): add changelog and changelog precommit
  .pre-commit-config.yaml
  CHANGELOG.md
  pyproject.toml
Due: language-matters, pre-commit-hook-names

ci(precommit): update minimum pre-commit version
  .pre-commit-config.yaml
Due: language-matters, pre-commit-hook-names

fix(cli): add type checks to dbgen connect
  src/dbgen/cli/main.py
  src/dbgen/cli/styles.py
  src/dbgen/cli/utils.py
  src/dbgen/utils/misc.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, flynt

fix(entity): add init subclass to entity to remove type errors on table, and registry kwargs
  CHANGELOG.md
  src/dbgen/core/entity.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, flynt

feat: added model settings, etl tester and extractor api
  CHANGELOG.md
  poetry.lock
  pyproject.toml
  requirements.txt
  src/dbgen/__init__.py
  src/dbgen/_enum.py
  src/dbgen/cli/etl_step.py
  src/dbgen/core/decorators.py
  src/dbgen/core/etl_step.py
  src/dbgen/core/func.py
  src/dbgen/core/model.py
  src/dbgen/core/model_settings.py
  src/dbgen/core/node/computational_node.py
  src/dbgen/core/node/extract.py
  src/dbgen/core/node/query.py
  src/dbgen/core/node/transforms.py
  src/dbgen/core/run/etl_step_run.py
  src/dbgen/core/run/model_run.py
  src/dbgen/core/run/utilities.py
  src/dbgen/testing/__init__.py
  src/dbgen/testing/runner.py
  tests/example/full_model.py
  tests/test_etl_step.py
  tests/test_model_settings.py
  tests/test_python_extract.py
  tests/test_transform_injection.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, flynt

chore: update changelog
  .pre-commit-config.yaml
  CHANGELOG.md
Due: language-matters, pre-commit-hook-names

fix: make etl_step a private attr for test runner
  pyproject.toml
  src/dbgen/testing/runner.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, flynt

bump: version 1.0.0a3 → 1.0.0a4
  pyproject.toml
  src/dbgen/__init__.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, flynt

fix: bad import in computational-nodes
  src/dbgen/core/node/computational_node.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, flynt

bump: version 1.0.0a4 → 1.0.0a5
  pyproject.toml
  src/dbgen/__init__.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, flynt

Update README.md
  README.md
Due: language-matters

fix: add better error messaging for statement parsing types that are unknown
  poetry.lock
  requirements.txt
  src/dbgen/core/statement_parsing.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, flynt

fix(tests): fix test_basic_python_extract_initialization_with_settings
  tests/test_python_extract.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, flynt
