Repository modelyst/dbgen: changes, and which pre-commit hooks are due for each by the changed paths.
All: pydevd, dont-use-safe-filter, no-relative-imports, language-matters, consistent-pylint, pre-commit-hook-names, flynt

Path conditions:
  pydevd: any of: \.py$
  dont-use-safe-filter: any of: \.html$
  no-relative-imports: any of: \.py$, but not: ^dbgen/test/|^dbgen/cli/newfiles/
  language-matters: any file but: (?x) ^dbgen/test/test_cli/test_main.py$| ^CHANGELOG.txt$

  consistent-pylint: any of: \.py$
  pre-commit-hook-names: any of: ^.pre-commit-config.yaml$
  flynt: any of: \.py$

fix(async): fix the circular import in run
  src/dbgen/core/run.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, flynt

fix: small tuning of async
  poetry.lock
  requirements.txt
  src/dbgen/cli/run.py
  src/dbgen/cli/utils.py
  src/dbgen/core/async_run.py
  src/dbgen/core/etl_step.py
  src/dbgen/core/run.py
  src/dbgen/core/statement_parsing.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, flynt

refactor(tests): remove unnecessary pytest fixtures and reenable the basic etl_step run
  poetry.lock
  pyproject.toml
  requirements.txt
  tests/conftest.py
  tests/example/test_copy_from.py
  tests/test_connection.py
  tests/test_entity.py
  tests/test_etl_step.py
  tests/test_load.py
  tests/test_model.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, flynt

chore(docs): fixed pre-commit issues
  docs/tutorial/01_directory_structure.md
  docs/tutorial/02_defining_schema.md
  docs/tutorial/03_csv_to_db.md
  docs/tutorial/04_handling_data_custom_formats.md
  docs/tutorial/05_refining_data.md
  docs_src/hello_world/hello_world.py
  docs_src/tutorials/__init__.py
  poetry.lock
  requirements.txt
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, flynt

refactor(load): generalized loading to reduce duplicate code for async/sync loading
  poetry.lock
  pyproject.toml
  requirements.txt
  src/dbgen/core/async_run.py
  src/dbgen/core/entity.py
  src/dbgen/core/node/load.py
  src/dbgen/core/run.py
  src/dbgen/templates/__init__.py
  src/dbgen/templates/insert.sql.jinja
  src/dbgen/templates/update.sql.jinja
  src/dbgen/utils/postgresql_load.py
  src/dbgen/utils/type_coercion.py
  tests/test_load.py
  tests/test_load_validation.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, flynt

feat(examples): added the clean flag for the alice_bob_model
  examples/alice_bob_lab/cookiecutter.json
  examples/alice_bob_lab/hooks/post_gen_project.py
  examples/alice_bob_lab/{{cookiecutter.repo_name}}/alice_bob_model/etl_steps/__init__.py
  poetry.lock
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, flynt

feat(docs): added additional information to section 03 of the tutorial, fixed expandable code boxes, added acknowledgement to README
  README.md
  docs/tutorial/01_directory_structure.md
  docs/tutorial/02_defining_schema.md
  docs/tutorial/03_csv_to_db.md
  docs/tutorial/04_handling_data_custom_formats.md
  docs/tutorial/05_refining_data.md
  poetry.lock
Due: language-matters

fix(errors): fixed the error message for empty models
  poetry.lock
  requirements.txt
  src/dbgen/core/model.py
  src/dbgen/exceptions.py
  tests/test_model.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, flynt

fix(tests): fixed the entity hypothesis strategy
  tests/strategies/entity.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, flynt

fix(docs): added how to find psql username and download clean tutorial template
  docs/installation.md
  docs/tutorial/01_directory_structure.md
  poetry.lock
  requirements.txt
Due: language-matters

docs(docker): added docker configuration notes
  docs/installation.md
  mkdocs.yml
Due: language-matters

refactor(async)!: major refactor of running to reduce code duplication for async/sync running
  poetry.lock
  requirements.txt
  src/dbgen/cli/etl_step.py
  src/dbgen/cli/run.py
  src/dbgen/core/dashboard.py
  src/dbgen/core/etl_step.py
  src/dbgen/core/model.py
  src/dbgen/core/node/query.py
  src/dbgen/core/run.py
  src/dbgen/core/run/__init__.py
  src/dbgen/core/run/async_run.py
  src/dbgen/core/run/etl_step_run.py
  src/dbgen/core/run/model_run.py
  src/dbgen/core/run/utilities.py
  src/dbgen/utils/graphs.py
  tests/test_full_model.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, flynt

fix(async): added psycopg_pool to poetry requirements
  poetry.lock
  pyproject.toml
  requirements.txt
Due: language-matters

fix(typing): fix the typing for python 3.8
  src/dbgen/core/run/async_run.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, flynt

fix(typing): fix the type hints to be compatible with python3.8
  src/dbgen/core/run/async_run.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, flynt

test(cli): add cli testing functions for connect, config, run, and version
  .coveragerc
  .gitignore
  scripts/ci/autoflake.sh
  scripts/ci/test.sh
  src/dbgen/cli/main.py
  src/dbgen/configuration.py
  tests/conftest.py
  tests/test_cli.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, flynt

fix(cli testing): fix the testing errors due to main_dsn sharing
  tests/conftest.py
  tests/test_cli.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, flynt

fix(cli testing): pass the urls in through variables to avoid github sanitizing
  tests/test_cli.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, flynt

fix(cli testing): remove check of new dsn
  .github/workflows/test.yml
  old
  tests/test_cli.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, flynt

fix(cli testing): remove broken tests
  tests/test_cli.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, flynt

fix(cli testing): modify broken tests
  tests/test_cli.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, flynt

fix(docs): added organization to docs and new error message for import failure
  docs/index.md
  docs/old_css/custom.css
  docs/old_css/extra.css
  docs/old_css/termynal copy.css
  docs/old_css/termynal.css
  docs/pages/common_errors.md
  docs/pages/configuration.md
  docs/pages/database_basics.md
  docs/pages/getting_started.md
  docs/pages/installation.md
  docs/pages/license.md
  docs/pages/overview_and_concepts.md
  docs/pages/running_and_debugging.md
  docs/pages/technical_documentation.md
  docs/pages/tutorial/01_directory_structure.md
  docs/pages/tutorial/02_defining_schema.md
  docs/pages/tutorial/03_csv_to_db.md
  docs/pages/tutorial/04_handling_data_custom_formats.md
  docs/pages/tutorial/05_refining_data.md
  mkdocs.yml
  old
  poetry.lock
  requirements.txt
  src/dbgen/utils/log.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, flynt

chore: update poetry lock files
  .coveragerc
  poetry.lock
  pyproject.toml
  requirements.txt
Due: language-matters

chore(poetry): added moto as a dev dependency
  poetry.lock
  pyproject.toml
  requirements.txt
Due: language-matters

feat(common extractors): added a CSV extractor and an S3 extractor and relevant tests
  poetry.lock
  requirements.txt
  setup.cfg
  src/dbgen/core/node/common_extractors.py
  tests/test_common_extractors.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, flynt

fix(common extractors): move extractors to providers and add tests and error messages
  poetry.lock
  pyproject.toml
  requirements.txt
  setup.cfg
  src/dbgen/core/node/common_extractors.py
  src/dbgen/exceptions.py
  src/dbgen/providers/aws/extract.py
  src/dbgen/providers/common/__init__.py
  src/dbgen/providers/common/extract.py
  tests/providers/test_aws.py
  tests/providers/test_common_extractors.py
  tests/test_common_extractors.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, flynt

fix(common extractors): fix csv extractor length method and add reserved words to create_entity
  src/dbgen/providers/common/extract.py
  tests/providers/test_common_extractors.py
  tests/strategies/entity.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, flynt

refactor(naming): change the name of the nuke command to build
  docker/dbgen/docker-compose-basictest.yml
  docker/docker-compose-LocalExecutor.yml
  docs/pages/getting_started.md
  docs/pages/running_and_debugging.md
  docs/pages/tutorial/03_csv_to_db.md
  src/dbgen/cli/run.py
  src/dbgen/cli/utils.py
  src/dbgen/core/metadata.py
  src/dbgen/core/model.py
  src/dbgen/core/run/model_run.py
  src/dbgen/utils/postgresql_load.py
  tests/test_full_model.py
  tests/test_model.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, flynt

fix(examples): fixed import location for extract in cookie cutter example
  examples/simple/{{cookiecutter.repo_name}}/{{cookiecutter.model_name}}/etl_steps/io.py
  poetry.lock
  requirements.txt
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, flynt

fix(poetry): removed pyyaml as a dependency, keeping only types-pyyaml
  poetry.lock
  pyproject.toml
  requirements.txt
Due: language-matters

chore(model): renamed 'nuking' to 'rebuilding' in a few places
  src/dbgen/core/model.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, flynt

chore(dependencies): changed jinja version to 3.0.3 to be compatible with mkdocs serve
  poetry.lock
  pyproject.toml
  requirements.txt
Due: language-matters

fix(dependencies): fixed my mistake regarding jinja2 dependency. It is now a dev dependency only.
  poetry.lock
  pyproject.toml
  requirements.txt
Due: language-matters

fix(dependencies): fixed my mistake on pyyaml. Re-added pyyaml as explicit dependency
  poetry.lock
  pyproject.toml
  requirements.txt
Due: language-matters

chore: update the pre-commit versions
  .pre-commit-config.yaml
  poetry.lock
  requirements.txt
Due: language-matters, pre-commit-hook-names

chore: update typer to fix click issue
  poetry.lock
  pyproject.toml
  requirements.txt
  tests/performance.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, flynt

chore: update poetry to use group dev
  poetry.lock
  pyproject.toml
Due: language-matters

chore: update poetry version in CI
  .github/workflows/publish.yml
  .github/workflows/publish_docs.yml
  .github/workflows/test.yml
Due: language-matters

chore: update poetry install in CI
  .github/workflows/publish.yml
  .github/workflows/publish_docs.yml
  .github/workflows/test.yml
Due: language-matters

feat: add posix path dumper to psycopg
  poetry.lock
  requirements.txt
  src/dbgen/utils/type_coercion.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, flynt
